label.update {
    font-weight: bold;
    display: inline;
    margin: 10px;
}

div.update>input {
    display: block;
    line-height: 1.5em;
    font-size: 1.1em;
    padding: 5px;
    width: 80%;
}

div.update>.react-datepicker-wrapper {
    display: block;
}
div.update .react-datepicker__input-container>input {
    line-height: 1.5em;
    font-size: 1.1em;
    padding: 5px;
    width: 80%;
}

.record-details {
    padding-left: 10px;
    font-family: "Open Sans";
}

#details .react-select__option {
    width: 100%;
}

#detailsDropdown {
    min-width: 250px;
}

.detail-filename {
    margin-bottom: 10px;
    display: block;
}

#files-holder .tabulator-header {
    display: block;
}


.record-details .containers {
    display: flex;
}

.metadata-container-container {
    display: flex;
    flex-direction: row;
    flex: 2;
}
@media (max-width: 900px) {
    .metadata-container-container {
        flex-direction: column;
    }
}
.metadata-container {
    background: white;
    padding: 20px;
    border: 2px solid rgb(220,220,220);
    margin-bottom: 35px;
    margin-right: 20px;
}
.files-container, .process-files {
    flex: 1;
}
.tinted {
    background-color: rgb(235,235,235);
}

.metadata-container h3, .files-container h3 {
    margin-top: 0px;
    margin-bottom: 35px;
}

.record-details h2 {
    font-family: "Open Sans Condensed";
    font-size: 28px;
    color: #669e03;
}

.record-details h3 {
    color: #669e03;
}

.record-details .modal-title {
    font-weight: normal;
    width: auto;
    padding-right:10px;
}

.files-container .modal-title {
    display: block;
}

.record-details-title {
    font-weight: 600;
    font-size: 20px;
}

.modal-line a:hover {
    color: green;
}

.modal-line .document-download {
    margin: 10px 0;
}

.modal-line .missing {
    color: coral;
}