label.update {
    font-weight: bold;
    display: inline;
    margin: 10px;
}

div.update>input {
    display: block;
    line-height: 1.5em;
    font-size: 1.1em;
    padding: 5px;
    width: 80%;
}

div.update>.react-datepicker-wrapper {
    display: block;
}
div.update .react-datepicker__input-container>input {
    line-height: 1.5em;
    font-size: 1.1em;
    padding: 5px;
    width: 80%;
}

.record-details {
    padding-left: 10px;
    font-family: "Open Sans";
}

#details .react-select__option {
    width: 100%;
}

#detailsDropdown {
    min-width: 250px;
}

.detail-filename {
    display: inline-block;
}
.detail-filenames {
    margin-left: 1em;
}
.detail-filenames+div>span {
    display: inline-block;
    margin-left: 5em;
}