#media {
    margin: auto;
    margin-top: 110px;
    width: 40%;
    min-width: 640px;

    /* text-align: center; */
}
#media h1 {
    text-align: center;
    
    display: block;

    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    
    margin-top: 0;
    margin-bottom: 49px;

    color: #8FBC3F;

}

.video-container {
    text-align: center;
    margin: auto;
}
.video-container h2 {
    margin-top: 50px;
    font-weight: normal;
}

.video {
    display: block;
    margin: auto;
    /* 16:9 */
    width: 640px;
    height: 360px;
}

.caption {
    width: 640px;
    margin: auto;
}

.spacer {
    height: 200px;
}