/* Custom tabulator styling */

#search-results .tabulator-holder {
    margin: 0 25px;
    height: 800px; /* Need this as parent element to control max-height of .tabulator and to prevent scroll to top on update */
    /* overflow: hidden; */
    /* scroll-behavior: auto; */
}

/* .tabulator { */
    /* max-height: 100%; /* With this, can't get larger than parent element, can also be added to table options as maxHeight: 100% */
    /* min-width: 1000px; */
    /* overflow: hidden; */
/* } */

/* .tabulator-responsive-collapse span.fragment { */
    /* white-space: normal; */
/* } */

/* .tabulator .tabulator-tableHolder { */
    /* height: 100%; */
    /* overflow: hidden; */
    /* overflow-x: hidden; */
/* } */

/* .tabulator-row .tabulator-cell .fragment { */
    /* white-space: normal; */
/* } */

/* .tabulator-row {
    flex-direction: row;
    align-items: center;
}
.tabulator-row .tabulator-cell {
    padding: 0;
    height: auto;
}

.tabulator-row .tabulator-cell.formatterCell {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
} */

/* .formatterCell .link {
    width: 200px;
    white-space: normal;
} */

#search-results .tabulator-row,#search-results  .tabulator-cell {
    cursor: default;
}

/* Row auto adjusts to accommodate cell size */
#search-results .tabulator-row .tabulator-cell {
    /* min-height: 44px; */
    /* Assuming 6px included padding (default), line-height of height minus padding vertically centers line of text */
    /* line-height: 32px; */
    /* padding-top: 16px;
    padding-bottom: 16px; */
    /* padding: 10px 6px; */
    border-color: black;
}

#search-results .tabulator-row.tabulator-row-even {
    background-color: #F0EFED;
}

#search-results .tabulator-col-content {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    /* line-height: 125%; */
    /* or 22px */
    
    /* display: flex;
    align-items: center;
    */
    color: #FFFFFF;

    background: #737272;
}

#search-results .tabulator .tabulator-header .tabulator-col {
    background: #737272;
}

#search-results .tabulator .tabulator-header {
    border-bottom: 0px;
}

#search-results .tabulator .tabulator-footer .tabulator-paginator label {
    display: none;
}

#search-results .tabulator .tabulator-footer .tabulator-paginator-replacer label {
    color: #fff;
}

#search-results .tabulator .tabulator-header .tabulator-col .tabulator-header-filter {
    display: block;
    position: relative;
    box-sizing: border-box;
    margin-top: 2px;
    width: 100%;
    text-align: center;
}

/* .tabulator .fragment { */
    /* padding: 0px 8px; */
/* } */

/* [tabulator-field="name"] {
    word-break: break-all;
} */

#search-results .tabulator .tabulator-header .tabulator-col.tabulator-sortable .tabulator-col-title {
    padding-right: 12px;
}