#process-results .table-holder {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-wrap: anywhere;
}

#process-results .table-like {
    display: inline-flex;
    flex-direction: column;
}

.record {
    margin: 20px 34px 10px 34px;
    background-color: #fff;
    border: 2px solid #dadada;
}

/**Line will flex to fit contents if, say, the filename is super long. 
Also no longer possible to overflow off the page or out of the card.*/
.record-line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    line-height: 40px;
    align-items: center;
    overflow-x: hidden;
}

.record-line span, .record-line a {
    display: flex;
}

.record-line a.not-logged-in, .record-line span.not-logged-in {
    display: inline-block;
}

.record-line>.not-logged-in>button.link {
    font-size: 14px;
}

.regular>a.link {
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400 !important;
    padding: 15px 0;
}
/** Whitespace around button for when it wraps to next line */
.record-line .document-download {
    margin-top: 10px;
    margin-bottom: 10px;
}
.document-download {
    max-width: 98%; /** 2% room for dots on overflow, mostly */
    overflow: hidden;
    text-overflow: ellipsis;
}

.record-field {
    padding: 0 15px;
}
.record-field:first-child {
    font-size: 18px;
    font-weight: bold;
}
.record-field:nth-child(2) {
    font-size: 18px;
    font-style: italic;
}

.cardHeader>span, .cardHeader>.download, .cardHeader>.link {
    padding-left: 0.5em;
    font-weight: bold;
    white-space: normal;
    padding-right: 2em;
}

span.highlight {
    font-weight: bolder;
}

.fragment-container {
    display: block;
    margin: 15px 10px 0px 10px;
}
.fragment-container:last-child {
    margin-bottom: 10px;
}
span.fragment {
    display: block;
    white-space: normal;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    padding: 10px;
    background-color: rgb(225, 225, 225);
}

span.filename {
    font-weight: bold;
}

span.filename-inner {
    display: block;
    padding-bottom: 5px;
    white-space: normal;
}

span.filename>* {
    font-weight: normal;
}

#process-results .tabulator-row .tabulator-cell {
    /* background-color: #f0efed; */
    background-color: #E7EAEA;
    /* border: 2px solid #dadada; */
}
#process-results .cardTitle {
    padding: 15px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 125%;
}
#process-results .tabulator-cell a.link {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
    color: #0067B1;
}
#process-results .table-meta {
    display: inline-flex;
    flex-wrap: wrap;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 125%;
}

/** Tabulator table, cell, row custom CSS */

/** The two height: 100% rules reduce "jitter" on redraw (this results in better UX while changing pages, results are loading,
 and also when toggling text snippets, because the table doesn't over-shrink vertically) - this can be observed in how much 
 more the browser scrollbar moves without these rules. */
#process-results .tabulator .tabulator-tableHolder {
    overflow: hidden;
    height: 100% !important;
}
#process-results .tabulator-tableHolder .tabulator-table .tabulator-row .tabulator-cell, 
#process-results .tabulator-table .tabulator-row {
    min-height: 100px !important;
    height: 100% !important;
    overflow: hidden;
}
#process-results .tabulator .tabulator-tableHolder .tabulator-table {
    padding-bottom: 0px !important;
}

#process-results .tabulator-table .tabulator-row,
#process-results .tabulator>.tabulator-footer {
    /* border-top: 20px solid #FBFBF6; */
    border-top: 20px solid #F8F9FA;
}
#process-results .tabulator-row>.tabulator-cell,
#process-results .tabulator[tabulator-layout=fitColumns] .tabulator-row .tabulator-cell:last-of-type {
    /* border: 2px solid #909090; */
}

#process-results .tabulator-header {
    display: none;
}

#process-results .tabulator-holder {
    margin: 0 25px;
    height: 800px;
}

.metadata-container .timeline-header {
    padding-top: 40px;
    margin-bottom: 10px;
}