

.cardHeader {
    font-weight: bold;
}

.table-like {
    display: table;
  }
  
  .table-like div.table-row { 
    display: table-row;
  }
  
  .table-like div span.cardHeader { 
    display: table-cell;
    padding-bottom: 0.2em;
    width: 125px;
  }
  
  /* add borders */
  /* .table-like,
  .table-like div span {
    border: 1px solid black;  
  }
   */
  /* bold on 1st row */
  /* .table-like div:nth-child(1) {
    font-weight: bold;
  } */