#dropzone {
    border: 1px solid;
    width: 70vw;
    height: 50vh;
    margin: auto;
    margin-bottom: 1vmin;
    padding: 2vmin;
    overflow: auto;
}
  
  #dropzone.over {
    background-color: rgba(0, 0, 0, .2);
  }