/* Need min height to prevent upward shifts when advancing table page */
/* Need min width to maintain table columns (prevent collapse/hide) */

#main {
  margin-top: 20px;
  /* margin-left: 160px; /*Same as the width of the sidebar */
}

#advanced {
  position: relative;
}

html {
  background: rgb(255,255,255);
	color: black;
  min-height: 1200px;
  min-width: 1080px;
}

.title {
  color: darkslategray;
  margin: 10px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tagline {
  color: darkslategray;
  margin: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
}

button.button {
  margin-top: 15px;
  padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  background: white;
  color: #555;
}
button:hover {
  background: wheat;
}
.button-text {
  pointer-events: none; /* webkit fix */
}

#searchGlass {
  width: 52px;
  height: 52px;
}
.icon-search {
  position: relative;
  right: 6%;
  pointer-events: none;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

input.search {
  border: solid;
  border-radius:1.5rem;
  box-shadow: 0px 0px 2px 2px #555555;
  padding: 4% 5%;
  margin: 5px;
  cursor: pointer;
  background: white;
  color: black;
}

.searchSecondary {
  border: solid;
  border-radius:1.5rem;
  box-shadow: 0px 0px 2px 2px #555555;
  padding: 4% 5%;
  margin: 5px;
  cursor: pointer;
  background: white;
  color: black;
}

.searchContainer {
  border: 1px solid;
  padding: 5px;
  background: lightgray;
  color: black;
  width: 100%;
}
.searchContainer tr td:first-child {
  width: 110px;
}
.searchContainer tr td:nth-child(2){
  width: 400px;
}
.searchContainer tr td:nth-child(3){
  width: 4%;
}

.date {
  background: white;
  color: black;
}
label.table {
  display: inline;
}

/* Side navbar */

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 100; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
.sidenav * {
  padding-top: 20px;
  text-decoration: none;
  font-size: 25px;
  color: #313131;
  display: block;
}
.sidenav *:hover {
  color: green;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.errorLabel {
  display: inline-block;
  padding: 0 0 0 25px;
  font-style: italic;
  color: coral;
}
.infoLabel {
  color: darkblue;
}

.collapsible {
	display: block;
  background-color: #bbb;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  padding: 18px;
  margin-bottom: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  text-decoration: underline;
}
.collapsible:hover {
  background-color: #999;
}

.content {
  padding: 0px 0px;
}

.checkLabel {
	cursor: pointer;
	user-select: none;
}

.noSelect {
  user-select: none;
}

*[hidden] { 
  display: none; 
}

.display-none {
  display: none;
}
.block {
  display: block;
}
.inline {
  display: inline;
}

.highlight:hover {
  color: rgb(120,190,210);
}

#nav-background {
  position: fixed;
  z-index: 100;
  height: 40px;
  width: 100%;
  background: #ccc;
  color: black;
  top: 0px;
  left: 0px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  float: left;
}
a {
  min-width: 100px;
  min-height: 20px;
  color: rgb(44,44,44);
}
li a:hover,
span a:hover {
  border-radius: 16px;
  background-color: #eee;
}
.nav-link {
  display: block;
  text-align: center;
  padding: 10px 16px;
  text-decoration: underline;
}
.right-nav-item {
  float: right;
}

.loadDefault {
  cursor: default;
}
.loadWait {
  cursor: wait;
}

/* Download links, download buttons */

.download {
  color: darkblue;
  text-decoration-style: underline;
}
.disabled_download {
  pointer-events: none;
  cursor: default !important;
  
  background: none!important;
  border: none;
  padding: 0!important;
  color: lightgray;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  cursor: pointer;
}
.download:hover {
  text-decoration: underline;
}
button.download, button.link {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: darkblue;
  text-decoration: underline;
  cursor: pointer;
}

/* Checkbox lines, checkboxes */

label.checkbox {
  border:1px solid #888;
}
label.checkbox:hover {
  background:#aaa;
  cursor:pointer;
}
input[type=checkbox] + span {
  font-style: normal;
} 
input[type=checkbox]:checked + span {
  font-weight: bold;
}

/* Custom React-Select styling */

.react-select__value-container {
  border: solid #444;
  border-radius:0.5rem;
  box-shadow: 0px 0px 5px 1px #444;
  padding: 4% 5%;
  width: 50%; 
  margin: 0px;
  cursor: pointer;
  background: white;
  color: black;
}

div.react-select__indicator {
  color: purple;
}
div.react-select__indicator:hover {
  color: rgb(255,0,128);
}

/* Custom tabulator styling */

.tabulator {
  min-height: 500px;
}
div.tabulator-row.tabulator-row-even {
  background-color: #ddd;
}

/* Custom modal stlying */

div.ReactModalPortal>.ReactModal__Overlay--after-open {
  background-color: rgba(128, 128, 255, 0.75) !important;
}
.ReactModal__Content {
  background:white !important;
  color: black;
}
span.modal-title {
  color: darkgreen;
}
p.modal-line {
  display: block;
  margin: 8px;
}

/* Custom tooltip styling */

div.tippy-tooltip div.enter {
  background-color: rgb(40,80,60)
}