@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=EB+Garamond);

html, body, #home-page, #root {
  min-width: 900px;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #FFFBF1;
  margin: 0;
}


#home-page {
  position: relative;
  margin: auto;

  background: #FFFBF1;
}

#header {
  position: fixed;
  width: 100%;
  min-width: 900px;
  height: 102px;
  left: 0px;
  top: 0px;

  background: #C4C4C4;
  box-sizing: border-box;
  z-index: 3;

  background: #8FBC3F;
}

/* Header contents */

#logo {
  position: absolute;
  width: 270.18px;
  height: 160.08px;
}

/* Logo contents */

#logo-box {
  position: absolute;
  width: 353.38px;
  height: 102px;
  top: 0px;

  background: #FFFFFF;
}

#logo-type {
  position: absolute;
  width: 289x;
  height: 122px;
  
  /* Center vertically using top 50% and margin - half of height */
  top: 50%;
  margin-top: -61px;
  z-index: 1;
}

#logo-type #NEP {
  position: absolute;
  width: 139.34px;
  height: 78px;
  left: 48.8px;
  top: -10px;
  
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.03em;

  color: #000000;
}

#logo-type #A {
  position: absolute;
  width: 107.74px;
  height: 67px;
  left: 123.54px;
  top: 46px;
  
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: bold;
  font-size: 110px;
  line-height: 147px;
  display: flex;
  align-items: flex-end;
  
  color: #DC3131;
  
}

#logo-type #ccess {
  position: absolute;
  width: 150.83px;
  height: 23px;
  left: 198px;
  top: 64px;
  
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 64px;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.03em;

  color: #000000;
  
}

/* End logo contents */

#top-menu {
  position: absolute;
  display: inline-block;
  right: 2%;
  top: 18.75%;
  bottom: 46.43%;
}

.top-menu-link {
  position: relative;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;

  text-decoration: none;

  color: #000000;
}

.right-nav-item {
  margin-left: 10px;
}

#main-menu {
  position: relative;
  left: 400px;
  height: 32px;
  top: 58px;
}

.main-menu-link {
  position: relative;
  margin-right: 40px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  display: inline-flex;
  align-items: flex-end;
  
  color: #000000;

  cursor: pointer;
  text-decoration: none;
  
}

#bottom-border-header {
  position: fixed;
  width: 100%;
  min-width: 1440px;
  top: 102px;

  border: 4px solid #FFFFFF;
}

/* End header content */

/* Main page should have a margin equal to the header size: */
.content {
  
  position: relative;
  margin: auto;
  margin-top: 102px;
  
  min-width: 1100px;

  background: #FFFBF1;
}

/* Special tags */

*[hidden] { 
  display: none !important; 
}

.display-none {
  display: none;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.flex-center {
  display: inline-flex;
  align-items: center;
}

.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

button {
  cursor: pointer;
}

.errorLabel {
  color: coral;
  font-style: italic;
  position: absolute;
  top: -20px;
}