@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('http://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:400,600,700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css');

html, body, #home-page, #root {
  min-width: 800px;
  height: calc(100% - 102px);
}

html {
  scroll-behavior: smooth;
  font-family: "Open Sans";
}

body {
  background: #FBF7EF;
  margin: 0;
}


#home-page {
  position: relative;
  margin: auto;

  background: #FBF7EF;
}

#header {
  position: fixed;
  width: 100%;
  min-width: 600px;
  height: 102px;
  left: 0px;
  top: 0px;

  background: #C4C4C4;
  box-sizing: border-box;
  z-index: 11;

  background: #8FBC3F;
}

/* Header contents */

#logo {
    position: absolute;
}

#logo-link {
    position: absolute;
    width: 360px;
    height: 102px;
    z-index: 2;
}

/* Logo contents */

/* #logo-box {
  position: absolute;
  width: 353.38px;
  height: 102px;
  top: 0px;

  background: #FFFFFF;
} */

#logo-box {
    position: absolute;

    width: 360px;
    height: 102px;

    background-color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    /* background-size: cover; */
    background-image: url("assets/nepaccess\ 1x.png");
}

#logo-type {
  position: absolute;
  width: 289x;
  height: 122px;
  
  /* Center vertically using top 50% and margin - half of height */
  top: 50%;
  margin-top: -61px;
  z-index: 1;
}

#logo-type #NEP {
  position: absolute;
  width: 139.34px;
  height: 78px;
  left: 48.8px;
  top: -10px;
  
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.03em;

  color: #000000;
}

#logo-type #A {
  position: absolute;
  width: 107.74px;
  height: 67px;
  left: 123.54px;
  top: 46px;
  
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: bold;
  font-size: 110px;
  line-height: 147px;
  display: flex;
  align-items: flex-end;
  
  color: #DC3131;
  
}

#logo-type #ccess {
  position: absolute;
  width: 150.83px;
  height: 23px;
  left: 198px;
  top: 64px;
  
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 64px;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.03em;

  color: #000000;
  
}

/* End logo contents */

#top-menu {
  position: absolute;
  display: inline-block;
  right: 1%;
  top: 10%;
}

.top-menu-link {
  position: relative;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;

  text-decoration: none;

  color: #000000;
}

.right-nav-item:first-child {
    margin: 0;
    padding-right: 10px;
    border-right: 2px black solid;
}
  
.right-nav-item {
    margin-left: 10px;
}

#main-menu {
  position: relative;
  left: 360px;
  margin-right: 400px; /** offset left: 400px */
  min-width: 520px;
  height: 32px;
  top: 50px;
}

.main-menu-link {
  position: relative;
  float: left;
  margin-left: 40px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  display: inline-flex;
  align-items: flex-end;
  
  color: #000000;

  cursor: pointer;
  text-decoration: none;
  
}

#bottom-border-header {
  position: fixed;
  width: 100%;
  min-width: 1440px;
  top: 102px;

  border: 4px solid #FFFFFF;
}

/* End header content */

/* Main page should have a margin equal to the header size: */
.content {
  
  position: relative;
  margin: auto;
  margin-top: 102px;
  
  min-width: 900px;

  background: #FBF7EF;
}

.spacer {
    margin-top: 102px;
}

/* Special tags */

*[hidden] { 
  display: none !important; 
}

.display-none {
  display: none;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block !important;
}

.block {
  display: block;
}

.flex-center {
  display: inline-flex;
  align-items: center;
}

.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.right {
    float: right;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

button {
  cursor: pointer;
}

.errorLabel {
  color: coral;
  font-style: italic;
  position: absolute;
  /* top: -20px; */
}

#app-content>.errorLabel {
    top: -20px;
}

.underline {
    text-decoration: underline !important;
}

.disabled_download {
  pointer-events: none;
  cursor: default;
  
  /* background: lightgray !important; */
  border: none;
  /* padding: 0;
  padding-left: 1em; */
  color: black;
}

.disabled {
    pointer-events: none;
    cursor: default;
    color: darkgray;
}

.tabulator-cell button {
  text-align: left;
}

span.email-text {
  cursor: text;
}

.loginErrorLabel, .networkErrorLabel {
  display: inline-block;
  padding: 0 0 0 25px;
  color: coral;
  font-style: italic;
}

.infoLabel {
  display: block;
  color: darkblue;
}

#date input.no-margin, .no-margin {
  margin: 0px;
}

.center {
  position: relative;
}
.center>div {
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
}

.logged-out-header {
  display: block;
  margin: 1em;
  margin-top: 5em;
  font-size: 2em;
}

.title-color {
    color: #8FBC3F;
}

.tippy-popper>.tippy-tooltip--small [x-circle] {
    background: none;
}

.button {
    font-size: 2em;
    margin-top: 15px;
    padding: 8px 12px;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    background: white;
    color: #555;
}
.button:hover {
    background: wheat;
}
.button:disabled {
    color: #888;
}

.react-select__control {
    border: 1px solid black;
    border-radius: 0px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);

    cursor: pointer;
}

/* .react-select__value-container {
    width: 355px;
}

.react-select__multi-value {
    max-width: 290px;
} */

.margin {
    margin-left: 10px;
}

.bold {
    font-weight: bold !important;
}

/* New dropdown for help submenus */
#help-dropdown, #about-dropdown {
    height: 60px;
}
.dropdown {
    display: block;
    float: left;
    width: relative;
}
.drop-button {
    display: block;
    position: relative;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit; 
    margin: 0;
    height: 25px;
}
.dropdown-content {
    display: none;
}
.dropdown-content a {
    display: block;
    float: none;
    width: 200px;
    background-color: white;
    padding: 5px;
    border: 2px solid #C4C4C4;
    border-top: none;
    text-decoration: none;
    color: black;
}
.dropdown-content a:first-child {
    border-top: 2px solid #C4C4C4;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown-content a:active {
    background-color: #8FBC3F;
}
.dropdown:hover > .dropdown-content {
    display: block;
    position: absolute;
    top: 50px;
    left: -25px;
    text-align: center;
}

#help-button, #about-button {
    margin-right: 10px;
}

.green {
    color: green;
}

.center {
    text-align: center;
    margin: auto;
}