.leafmap {
    height: 400px;
    width: 100%;
}
.map-container {
    background: white;
    padding: 20px;
    border: 2px solid rgb(220,220,220);
    margin-bottom: 20px;
    margin-right: 20px;
    flex: 3 1;
}
.map-header {
    margin-top: 0px;
}


.map-container-internal {
    margin-top: 25px;
}
.metadata-container h3.map-header {
    margin-bottom: 20px;
}

.leafmap_container {
    
}