/* Non landing search styling */

.search-label {
  display: inline-flex;
  align-items: center;
  position: absolute;
  top: 28px;
  margin-left: 122px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 111%;
  /* or 20px */

  color: #FFFFFF;

  z-index: 2;
}

#searcher-container {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 1140px;
  height: 220px;
  background: #737272;
}

#searcher-inner-container {
  position: relative;
  margin-left: 97px;
  width: 850px;
  height: 100px;
  top: 55px;
}

#search-mode {
  position: absolute;
  width: 200px;
  text-align: left;
  right: -10px;
  top: 86px;

  display: inline-flex;
  align-items: center;
  line-height: 32px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  /* line-height: 100px; */
  /* or 20px */

  cursor: pointer;

  /* color: #64D6FA; */
  color: white;
}

/* #search-mode-container {
  position: absolute;
  text-align: left;
  width: 200px;
  right: -23px;
  top: 75px;

  text-decoration: none;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;

  color: #64D6FA;
}

#search-mode-container>* {
  margin-bottom: 8px;
  cursor: pointer;
} */

#fulltext-mode {
  
  position: absolute;
  text-align: left;
  width: 200px;
  right: -15px;
  top: 0px;

  /* text-decoration: none; */

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;

  cursor: pointer;

  color: #64D6FA;
}

#search-by {
  margin-right: 10px;
}

#post-search-box-text, .post-search-box-text {
  height: 27px;

  font-family: "Open Sans";
  font-size: 12px;
  /* or 13px */

  margin-top: 8px;
  display: flex;
  align-items: center;

  color: #FFFFFF;
}

.advanced-radio {
  width: 800px;
  display: inline-flex;
  justify-content: space-evenly;
}

.advanced-radio label {
  margin-right: 80px;
}

/* Advanced search table */

#advanced-search-box {
  position: relative;
  width: 1140px;
  height: 248px;
  
  background: white;
  margin: auto;
  padding-top: 15px;
  border: 1px solid black;
  border-top: none;
}

#advanced-search-box tr {
  vertical-align: top;
}

#advanced-search-box tr td:first-child {
  width: 360px;
  padding-left: 48px;
}

#advanced-search-box tr td:nth-child(2) {
  width: 365px;
  padding-left: 64px;
}

#advanced-search-box tr td:nth-child(3) {
  height: 86px;
  padding-left: 64px;
}

#advanced-search-box .advanced-label {

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  display: flex;
  align-items: center;

  color: black;
  border: 1px solid white;
}

input[type=radio] {
  width: 26px;
  height: 26px;
}

input[type=checkbox] {
  width: 16px;
  height: 16px;

  margin-right: 7px;
}

#advanced-search-box tr td input[type=checkbox] {
  background: #FFFFFF;
  border: 1px solid #000000;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);

  margin-left: auto;
  
  cursor: pointer;
}

#advanced-search-box .advanced-checkbox-label {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */

  color: #000000;

  border: 1px solid #FFFFFF;

  cursor: pointer;
}

/* Advanced search react-select elements */

#advanced-search-box .react-select__placeholder {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 125%;
  /* or 22px */

  display: flex;
  align-items: center;

  color: #737272;
}

#advanced-search-box .react-select__control {
  border: 1px solid black;
  border-radius: 0px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  
  cursor: pointer;
}

#advanced-search-box .multi {
  width: 355px;
}

/** React-select custom styling within advanced search box */

.react-select__menu-list>.react-select__option--is-focused {
    background: lightgreen;
}

#advanced-search-box .react-select__dropdown-indicator, #advanced-search-box .react-select__clear-indicator, #advanced-search-box .react-select__indicator-separator {
  display: none;
}

#advanced-search-box .down-arrow {
  position: absolute;
  width: 17px;
  height: 16px;
  margin-top: 12px;
  margin-left: -34px;
  
  pointer-events: none;
}

#advanced-search-box .down-arrow path {
  display: inline-block;
}

/* Custom datepicker style */
#advanced-search-box .date {
  width: 136px;
  height: 40px;
  margin-left: 8px;
  margin-right: 8px;
  background: #FFFFFF;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 125%;
  /* or 22px */
  
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #737272;

  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  
}

#advanced-search-box .date-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;

  border: 1px solid #FFFFFF;
}

#excludeLabel {
  width: 270.37px;
  height: 27.62px;
  margin-left: 25px;
  margin-right: 25px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 111%;
  /* or 20px */

  color: #FFFFFF;
}

#searchTitleNone {
  margin-top: 20px;
  height: 40px;
  width: 600px;
  border: 1px solid #000000;
  box-sizing: border-box;
}

/** Tooltip and custom react-tippy styling */

#tooltip1Mark {
  position: absolute;
  
  margin-left: -65px;
  margin-top: 15px;

  width: 20px;
  height: 20.72px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 111%;
  /* or 20px */

  color: #000000;
}

#tooltip1 {
  position: absolute;
  
  margin-left: -77px;
  margin-top: 9px;

  width: 32px;
  height: 31.57px;
}

.tippy-tooltip--small {
  border: 1px solid #737272;
}

.tippy-tooltip--small, .tippy-tooltip--small .tippy-tooltip-content {
  width: 148px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: 111%;
  /* or 11px */
  
  text-align: left;

  color: black;
  background: white !important;
  
}

.tippy-tooltip [x-circle] {
  background: none;
}

.tippy-tooltip p {
  font-size: 11px;
  margin: 10px 10px;
}

/** Tooltip right-facing arrow - replaces all tooltip arrows */
/* .arrow-regular {
  border-left: 7px solid white !important;
} */

#falseAdvanced {
    position: relative;
    width: 1140px;
    height: 248px;
    
    background: #FBF7EF;
    margin: auto;
    padding-top: 20px;
}

.tabulator-cell, .link {
    padding: 0;
}

button.link, button.download, a.link {
  
  /* text-align: center; */

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 13.3333px;
  line-height: 111%;
  /* padding: 0; */
  /* or 20px */

  cursor: pointer;

  color: darkblue;
  background: none;
  border: none;
}

button.document-download {
    /* padding-left: 0px !important; */
    margin-left: 0.5em;
    height: 32px;
    color: black;
    background-color: #8FBC3F;
    border-radius: 4px;
    font-family: "Open Sans";
    font-style: normal;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    /* width: 50%; */
}

a.link {
    text-decoration: none;
}

#search-results {
  min-width: 950px;
}

.modal-results {
  min-width: 1050px;
}

/* span.fragment {
  display: inline-block;
  margin-bottom: 3px;
} */

/** No need to add space below the final text snippet */
/* .fragment:nth-last-of-type(1) { 
  margin-bottom: 0;
} */

/* span.fragment:hover {
  text-decoration: underline;
} */

.fragment:nth-of-type(odd) {
  background-color: rgb(244, 244, 244);
}
.fragment:nth-of-type(even) {
  background-color: rgb(222, 222, 222);
}

.sort-container {
    float: right;
    margin-right: 20px !important;
}

.dropdown-text {
    font-weight: bold;
    margin-right: 20px;
}

#post-results-dropdown {
    line-height: 20px;
    width: 150px;
}
#post-results-dropdown-order {
    line-height: 20px;
    width: 100px;
}

/* CSS spinner */

.loader-holder {
    height: 80px;
    margin: auto;
}

.lds-ellipsis {
    display: block;
    position: relative;
    margin: auto;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    /* background: black; */
    background:#8FBC3F;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  