/* Custom tabulator styling */

.tabulator {
  margin: 0 5px;
  min-width: 1200px; /* With title text wrapping, table gets ridiculous any smaller than this */
  overflow: hidden;
}

.tabulator .tabulator-tableHolder {
    overflow: hidden;
}

.tabulator-row .tabulator-cell {
  white-space: pre-wrap;
}

.tabulator-row, .tabulator-cell {
  cursor: default;
}

/* Row auto adjusts to accommodate cell size */
.tabulator-row .tabulator-cell {
  /* min-height: 44px; */
  /* Assuming 6px included padding (default), line-height of height minus padding vertically centers line of text */
  /* line-height: 32px; */
  padding-top: 16px;
  padding-bottom: 16px;
  /* padding: 10px 6px; */
  border-color: black;
}

.tabulator-row.tabulator-row-even {
  background-color: #F0EFED;
}

.tabulator-col-content {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  /* line-height: 125%; */
  /* or 22px */
  
  /* display: flex;
  align-items: center;
   */
  color: #FFFFFF;

  background: #737272;
}

.tabulator .tabulator-header .tabulator-col {
    background: #737272;
}

.tabulator .tabulator-header {
  border-bottom: 0px;
}

.tabulator .tabulator-footer .tabulator-paginator label {
    display: none;
}

.tabulator .tabulator-footer .tabulator-paginator-replacer label {
    color: #fff;
}

.tabulator .tabulator-header .tabulator-col .tabulator-header-filter {
    display: block;
    position: relative;
    box-sizing: border-box;
    margin-top: 2px;
    width: 100%;
    text-align: center;
}

.tabulator .fragment {
    padding: 0px 8px;
}

[tabulator-field="name"] {
    word-break: break-all;
}