/* Custom tabulator styling */

.tabulator {
  margin: 0 5px;
}

/* .tabulator-row .tabulator-cell {
    white-space: normal;
}

.tabulator-row {
    white-space: normal;
}  */

.tabulator-row, .tabulator-cell {
  cursor: default;
}

/* Row auto adjusts to accommodate cell size */
.tabulator-cell {
  height: 35px;
}

.tabulator-col-content {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  /* or 22px */
  
  display: flex;
  align-items: center;
  
  color: #FFFFFF;

  background: #737272;
}

.tabulator .tabulator-header {
  border-bottom: 0px;
}