/* Custom tabulator styling */

/* .tabulator {
    height: 100%;
}

.tabulator-row .tabulator-cell {
    white-space: normal;
}

.tabulator-row {
    white-space: normal;
} */

/* .tabulator-row .tabulator-cell {
  white-space: pre-wrap;
  word-break: break-all;
} */

.tabulator-row, .tabulator-cell {
  cursor: default;
}

/* Row auto adjusts to accommodate cell size */
.tabulator-cell {
  height: 31px;
}

.tabulator-col-content {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  /* or 22px */
  
  display: flex;
  align-items: center;
  
  color: #FFFFFF;

  background: #737272;
}

.tabulator .tabulator-header {
  border-bottom: 0px;
}